/* Write your CSS here */

.notfound-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.notfound-text {
  color: white;
}
